.DS_Store
/docker-slim
/slim
/docker-slim-sensor
/slim-sensor
/dist_linux*/
/dist_mac/
/dist_mac_m1/
/bin/
/_gopath/
slim.report.json
dist_linux*.tar.gz
dist_mac.zip
dist_mac_m1.zip
.idea
*.swp
*.swo
slim.report.json
