name: Unit testing
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types: [opened, synchronize, closed]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out slimtoolkit/slim repo
        uses: actions/checkout@v4.1.0

      - name: Set up Go development environment
        uses: actions/setup-go@v4.1.0
        with:
          go-version: '1.19.0'

      - name: Run tests
        run: make test
